
.button {
    background: none;
    border: 1px solid rgba(250, 70, 70, 1);
    color: rgba(250, 70, 70, 1);
    cursor: pointer;
    padding: 0.75rem 1.5rem;
    border-radius: 6px;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.button:hover {
    background: rgba(250, 70, 70, 0.2);
}

.button_importance-primary {
    background: rgba(250, 70, 70, 1);
    color: white;
}

.button_importance-primary:hover {
    background: rgba(250, 70, 70, 0.8);
    color: white;
}

.button_importance-tertiary {
    color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.button_importance-tertiary:hover {
    background: rgba(0, 0, 0, 0.1);
}