
.intro {
    color: rgba(0, 0, 0, 0.9);
    text-align: inherit;
}

.intro__tag {
    font-size: 1.1rem;
    font-weight: bold;
}

.intro__title {
    margin: 0;
    font-family: 'Libre Bodoni', serif;
    letter-spacing: -0.2rem;
    font-size: 4rem; 
}

.intro__paragraph {
    color: rgba(0, 0, 0, 0.7);
    line-height: 1.5;
}